{% extends "group_list.html" %}
{% block title %}Справочники{% endblock %}
{% block subheader %}
    <h2 class="refname">Справочники</h2>
    <form action="{% url "main" %}">
        <button> Главная</button>
    </form>
{% endblock %}
{% block menu %}
    <ul>
        <li>
            <a href="article/">Товары и услуги</a>
        </li>
        <li>
            <a href="contragent/">Контрагенты</a>
        </li>
        <li>
            <a href="measure/">Единицы измерения</a>
        </li>
        <li>
            <a href="stock/">Склады</a>
        </li>
    </ul>
{% endblock %}