{% extends "reference.html" %}
{% block title %}
    {% if object %}{{ object.title }}{% else %} Новый элемент' {% endif %}
{% endblock %}
{% block subheader %}
    <h2 class="refname">Склады</h2>
    <button name="Edit" form="form_stock_edit"> Записать</button>
    <form action="{% url "references:stock_list" %}">
        <button name="Close"> Закрыть!</button>
    </form>
    <p class="separator"></p>
    {% if object %}
        <form action="{% url 'references:stock_delete' pk=object.pk %}">
            <button name="Delete"> Удалить</button>
        </form>
    {% endif %}

{% endblock %}
{% block detail %}
    <div class="product-detail">
        {% if error == 1 %}
            <h2> Сначала удалите все записи, ссылающиеся на эту запись</h2>
            <form action="{{ object.get_absolute_url }}">
                <button> Закрыть</button>
            </form>
        {% else %}
            <form id="form_measure_edit" action="." method="post">
                <table>
                    {{ form.as_table }}
                    {% csrf_token %}
                </table>
            </form>
        {% endif %}
    </div>
{% endblock %}